<script>
var person = {firstName:"John", lastName:"Doe", age:46};
var home = {street:"85 Clover", city:"Ajax"};
person.address = home;

var questions = [

	{query:"Which of the following describes the most ideal type of activity to automate with UiPath?", 
			options:[
			{option:"Multistep process with many decision points with structured data", correct:false, selected:false}, 
			{option:"Perform Analysis on data and provide", correct:true, selected:false},
			{option:"Varied tasks that rely heavily on user input", correct:false, selected:false},
			{option:"Rule-based process with structured data", correct:false, selected:false}
			]},
			
	{query:"A client receives a spreadsheet containing orders. The orders must be input into an internal web-based order system.  Which is the best activity to use?", 
			options:[
			{option:"Sequence", correct:true, selected:false}, 
			{option:"Flowchart", correct:false, selected:false},
			{option:"Learning Machine", correct:false, selected:false},
			{option:"Transactional Process", correct:false, selected:false}
			]},


	{query:"Which Activity requires the least amount of parameters?", 
			options:[
			{option:"SMTP", correct:false, selected:false}, 
			{option:"Outlook", correct:true, selected:false},
			{option:"POP3", correct:false, selected:false},
			{option:"Mail", correct:false, selected:false}
			]},		
			
	{query:"What happens if you try to save a table using Excel Write Range activity to a file that does not exist?", 
			options:[
			{option:"Throws a “File not found” error", correct:false, selected:false}, 
			{option:"Workflow will wait until the file appears and times out if it doesn’t", correct:false, selected:false},
			{option:"Activity will not run and continue the sequence", correct:false, selected:false},
			{option:"Creates the file and saves the table", correct:true, selected:false}
			]},
			
	{query:"When using an Excel Application Scope activity, which activity should be used to sort a table directly in an .xlsx file?", 
			options:[
			{option:"Sequence", correct:false, selected:false}, 
			{option:"Flowchart", correct:false, selected:false},
			{option:"Learning Machine", correct:false, selected:false},
			{option:"Transactional Process", correct:true, selected:false}
			]},	
			
	];




var answers = new Array(questions.length);
var questionNumber = 0;
//displayQuestion(0);


//alert(person.firstName);
//alert(questions[0].query);



window.addEventListener('load', function () {
  displayQuestion(0);
})

displayQuestion = function(number){
	if(number=='next') {
		questionNumber = questionNumber+1;
	}
	if(number=='previous') {
		questionNumber = questionNumber-1;
	}
	
	console.log(questionNumber);
	let questionNumberDisplay = parseInt(questionNumber, 10) + 1;
	document.getElementById("questionNumber").innerHTML = "Question " + questionNumberDisplay;
	document.getElementById("query").innerHTML = questions[questionNumber].query;
	document.getElementById("labelOptionA").innerHTML = questions[questionNumber].options[0].option;
	document.getElementById("labelOptionB").innerHTML = questions[questionNumber].options[1].option;
	document.getElementById("labelOptionC").innerHTML = questions[questionNumber].options[2].option;
	document.getElementById("labelOptionD").innerHTML = questions[questionNumber].options[3].option;
	
	
	var checkedRadioButtons = document.querySelector('input[name="exampleRadios"]:checked');
	if (checkedRadioButtons!=null) {
		checkedRadioButtons.checked = false;
	}
	
	var radios = document.querySelectorAll('input[type="radio"]:checked');
	var value = radios.length>0? radios[0].value: null;
	
	
	document.getElementById("previous").setAttribute("class", "enabled btn btn-primary");
	document.getElementById("next").setAttribute("class", "enabled btn btn-primary");
	if (questionNumber==0) {
		document.getElementById("previous").setAttribute("class", "disabled btn btn-primary");
	}
	if (questionNumber == (questions.length-1)) {
		document.getElementById("next").setAttribute("class", "disabled btn btn-primary");
	}
	
}

</script>

<br/><br/>


<div class="container">

<div class="card">
  <div class="card-header" id="questionNumber">
    
  </div>
  <div class="card-body">
    <h3 class="card-title" id="query"></h3>
	
	
	
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="optionA" value="optionA">
  <label class="form-check-label" for="optionA" id="labelOptionA">
    
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="optionB" value="optionA">
  <label class="form-check-label" for="optionB" id="labelOptionB">
    
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="optionC" value="optionA">
  <label class="form-check-label" for="optionC" id="labelOptionC">
    
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="optionD" value="optionA">
  <label class="form-check-label" for="optionD" id="labelOptionD">
    
  </label>
</div>
<div>
    <a href="#" id="previous" class="btn btn-primary" onclick="displayQuestion('previous')">&lt;&lt; Previous</a>
	<!-- <a href="#" id="finish" class="btn btn-primary" onclick="displayQuestion('1')">Finish</a> -->
	<a href="#" id="next" class="btn btn-primary" onclick="displayQuestion('next')">Next &gt;&gt;</a>
	</div>
  </div>
</div>

	
	
</div>
