<!DOCTYPE html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179472407-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-179472407-1');
</script>
<title>{{ page.title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<style>
html { font-size: 12pt; }	
h1 { font-size: 1.50em; }
h2 { font-size: 1.25em; }
h3 { font-size: 1.1em; }
h4 { font-size: 1.05em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

.header, .footer {
  background: white;
  text-align: center;
}

.main {
  background: white;
  text-align: left;
}

.aside-1 {
  background: white;
}
	
.aside-2 {
  background: white;
}

</style>
<body>



<div class="container">
	
<div class="row">
	

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">UiPath Certification</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
		    	
		    
		    
                <a class="nav-link" href="https://uipath-certification.github.io/index.html">
                    Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                    Resources
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="https://www.theserverside.com/video/An-introduction-to-RPA-programming-with-UiPath-Studio">TheServerSide and TechTarget</a>
                    <a class="dropdown-item" href="https://youtu.be/mG6bILKpKbk">UiPath on YouTube</a>
                    <a class="dropdown-item" href="https://github.com/cameronmcnz/uipath-tutorials">UiPath on GitHub</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://uipath-certification.github.io/2020/10/05/uipath-exam-objectives.html">Objectives</a>
            </li>
	<li class="nav-item">
                <a class="nav-link" href="https://uipath-certification.github.io/2020/10/01/uipath-mock-exams.html">Practice Tests</a>
            </li>
		<li class="nav-item">
			
			
                <a class="nav-link" href="https://uipath-certification.github.io/2020/10/01/uipath-tutorials.html">Tutorials</a>
            </li>
	    <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/sergio-salerno-6455b831/">Contact</a>
            </li>
        </ul>
    </div>
</nav>

	
	
</div>
	
<div class="row">
  <header  class="header col col-12 col-sm-12           order-1 order-sm-1 order-lg-1">&nbsp;</header>
<article class="main   col col-12 col-sm-12  col-lg-7 order-2 order-sm-2 order-lg-3">
	<div class="card">
		  <div class="card-header">
    UiPath Certification Made Easy
  </div>
<img src="https://www.xennialconsulting.com/img/xennialbkg-min.png" class="card-img-top" alt="uipath certification">
	 
		
  <div class="card-body">

	  <!-- put a span in to stop the p tag from closing automatically -->
	  
    {{ content }}   
	  
   </div>


 

</div>
 </article>
	
	
  <aside  class="aside-1 col col-6  col-sm-3   col-lg-2 order-3 order-sm-3 order-lg-2 d-none d-sm-block">
	  
	  

<div class="card">
  <div class="card-header">
    Quick Links
  </div>
<div class="card-body">	  
<ul class="nav flex-column">
  <li class="nav-item">
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"/>
  <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
</svg>
    <a href="https://uipath-certification.github.io/index.html">Home Page</a>
  </li>
  <li class="nav-item">
    <a href="https://uipath-certification.github.io/2020/10/05/uipath-exam-objectives.html">Objectives</a>
  </li>
  <li class="nav-item">
	  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M9.669.864L8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193l-1.51-.229L8 1.126l-1.355.702-1.51.229-.684 1.365-1.086 1.072L3.614 6l-.25 1.506 1.087 1.072.684 1.365 1.51.229L8 10.874l1.356-.702 1.509-.229.684-1.365 1.086-1.072L12.387 6l.248-1.506-1.086-1.072-.684-1.365z"/>
  <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
</svg>
    <a href="https://uipath-certification.github.io/2020/10/01/uipath-mock-exams.html">Mock Exams</a>
  </li>
  <li class="nav-item">
	  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-easel" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M8.473.337a.5.5 0 0 0-.946 0L6.954 2h2.092L8.473.337zM12.15 11h-1.058l1.435 4.163a.5.5 0 0 0 .946-.326L12.15 11zM8.5 11h-1v2.5a.5.5 0 0 0 1 0V11zm-3.592 0H3.85l-1.323 3.837a.5.5 0 1 0 .946.326L4.908 11z"/>
  <path fill-rule="evenodd" d="M14 3H2v7h12V3zM2 2a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
</svg>
    <a href="https://uipath-certification.github.io/2020/10/01/uipath-tutorials.html">Tutorials</a>
  </li>
  <li class="nav-item">
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-minecart-loaded" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4 15a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8-1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM.115 3.18A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 14 12H2a.5.5 0 0 1-.491-.408l-1.5-8a.5.5 0 0 1 .106-.411zm.987.82l1.313 7h11.17l1.313-7H1.102z"/>
  <path fill-rule="evenodd" d="M6 1a2.498 2.498 0 0 1 4 0c.818 0 1.545.394 2 1 .67 0 1.552.57 2 1h-2c-.314 0-.611-.15-.8-.4-.274-.365-.71-.6-1.2-.6-.314 0-.611-.15-.8-.4a1.497 1.497 0 0 0-2.4 0c-.189.25-.486.4-.8.4-.507 0-.955.251-1.228.638-.09.13-.194.25-.308.362H3c.13-.147.401-.432.562-.545a1.63 1.63 0 0 0 .393-.393A2.498 2.498 0 0 1 6 1z"/>
</svg>
    <a href="https://uipath-certification.github.io/2020/10/01/uipath-resources.html">
 
	    
	    Resources</a>
  </li>
  <li class="nav-item">
    <a href="https://github.com/uipath-certification/uipath-certification.github.io">GitHub</a>
  </li>
</ul>	  
  </div>
</div>		  
	  	  
	  
	  
  </aside>
  <aside  class="aside-2 col col-12  col-sm-9  col-lg-3 order-4 order-sm-4 order-lg-4 ">
  
	  
  
  {% for post in site.posts %}
<div class="card">
  <div class="card-header">
    <a href="{{ post.url }}">{{ post.title }}</a>
  </div>
  <div class="card-body">
    <p class="card-text">{{ post.blurb }}</p>
    <a href="{{ post.url }}" class="btn btn-primary btn-sm">Check it out</a>
  </div>
</div>	
	  <div>&nbsp;</div>
  {% endfor %}
  
  </aside>
  <footer class="footer  col col-12 col-sm-12           order-5 order-sm-5 order-lg-5">&nbsp;</footer>
</div>
	
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>


