<html>
<head>
<title>{{ page.title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<style>

.header, .footer {
  background: lightsteelblue;
  text-align: center;
}

.main {
  background: whitesmoke;
  text-align: left;
}

.aside-1, {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

.aside-1, .aside-2 {
  background: gainsboro;
}

</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#" id="navbarDropdownMenuLink"
                   role="button"
                   data-toggle="dropdown">
                    Objectives
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Fundamentals</a>
                    <a class="dropdown-item" href="#">Studio Overview</a>
                    <a class="dropdown-item" href="#">Variables</a>
					<a class="dropdown-item" href="#">Selectors</a>
					<a class="dropdown-item" href="#">Control Flow</a>
					<a class="dropdown-item" href="#">Data Manipulation</a>
					<a class="dropdown-item" href="#">Automation Concepts</a>
					<a class="dropdown-item" href="#">UiPath Orchestrator</a>
                </div>
            </li>
			<li class="nav-item active">
                <a class="nav-link" href="#">Mock Exams</a>
            </li>
			<li class="nav-item active">
                <a class="nav-link" href="#">Tutorials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container-fluid">
<div class="row">
  <header  class="header col col-12 col-sm-12           order-1 order-sm-1 order-lg-1">UiPath Certification</header>
  <article class="main   col col-12 col-sm-12  col-lg-7 order-2 order-sm-2 order-lg-3">
    {{ content }}   
  </article>
  <aside  class="aside-1 col col-6  col-sm-6   col-lg-2 order-3 order-sm-3 order-lg-2 d-none d-sm-block">
	<div >Home</div>
	<div >Strategies</div>
	<div >Objectives</div>
	<div >Mock Exams</div>
	<div >Tutorials</div>
	<div >Test Day</div>
	<div >Resources</div>
  </aside>
  <aside  class="aside-2 col col-12  col-sm-6  col-lg-3 order-4 order-sm-4 order-lg-4 ">
  <p>Latest Posts</p>
  
  {% for post in site.posts %}
	  <p><a href="{{ post.url }}">{{ post.title }}</a>: {{ post.blurb }}</p>
  {% endfor %}
  
  </aside>
  <footer class="footer  col col-12 col-sm-12           order-5 order-sm-5 order-lg-5">&nbsp;</footer>
</div>
<div class="row">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>


