<!DOCTYPE html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179472407-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-179472407-1');
</script>
<title>{{ page.title }}</title>
	<meta name="robots" content="index, follow" />
	  <meta name="description" content="UiPath Certification Exam questions and answers to help you practice, learn and get RPA certified."/>
	<meta name="keywords" content="UiPath Certification, UiPath Associate Exam, UiPath Developer Exam, UiPath Certification Questions, UiPath Certification Questions and Answers, UiPath Braindump"/>

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

 {% include boostrap-css.html %}        
	
	<style>
html { font-size: 12pt; }	
h1 { font-size: 1.50em; }
h2 { font-size: 1.25em; }
h3 { font-size: 1.1em; }
h4 { font-size: 1.05em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

.header, .footer {
  background: white;
  text-align: center;
}

.main {
  background: white;
  text-align: left;
}

.aside-1, .aside-2 {
  background: whitesmoke;
}

</style>
<body>



<div class="container">
	
<div class="row">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">UiPath Certification</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://uipath.rpacertified.com">
                    Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                    Resources
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="https://www.theserverside.com/video/An-introduction-to-RPA-programming-with-UiPath-Studio">TheServerSide and TechTarget</a>
                    <a class="dropdown-item" href="https://youtu.be/mG6bILKpKbk">UiPath on YouTube</a>
                    <a class="dropdown-item" href="https://github.com/cameronmcnz/uipath-tutorials">UiPath on GitHub</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://uipath-certification.github.io/2020/10/05/uipath-exam-objectives.html">Objectives</a>
            </li>
	<li class="nav-item">
                <a class="nav-link" href="https://www.rpacertified.com/cert-questions-answers.html">Practice Tests</a>
            </li>
		<li class="nav-item">
                <a class="nav-link" href="https://www.rpacertified.com/study-guide-uipath.html">Tutorials</a>
            </li>
	    <li class="nav-item">
                <a class="nav-link" href="https://www.rpacertified.com/youtube-linkedin-twitter.html#youtube-uipath">Contact</a>
            </li>
        </ul>
    </div>
</nav>
</div>
	
<div class="row">
  <header  class="header col col-12 col-sm-12           order-1 order-sm-1 order-lg-1">&nbsp;</header>
  <article class="main   col col-12 col-sm-12  col-lg-12 order-2 order-sm-2 order-lg-2">
    {{ content }}   
  </article>


  <footer class="footer  col col-12 col-sm-12           order-3 order-sm-3 order-lg-3">&nbsp;</footer>
</div>
	
</div>
{% include bootstrap-min.html %} 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>

